/* Estilos globales */
body {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    background-position: center;
    background-color: black;
    background-repeat: no-repeat;
    color: white;
    justify-content: center;
    align-items: center;
}

/* Barra de navegación */
nav {
    position: relative;
    top: -45%;
    left: 14.7%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

a {
    text-decoration: none;
    color: white;
}

div p {
    width: 700px;
}

div img {
    width: 100px;
    margin-left: 40px;
}

/* Contenedor de texto */
.text-container {
    text-align: left;
    margin-top: -120px;
    padding: 0;
    max-width: 80%;
    position: absolute;
    top: 30%;
    margin-left: 100px;
}

.text-container h1 {
    font-weight: 700;
    font-size: 26.6px;
}

.text-container p {
    font-weight: 200;
    font-size: 16px;
    max-width: 80%;
    margin: 0px;
}
/* Contenedor del menú */
.menu-container {
    position: fixed;
    top: 0;
    left: -330px; /* Oculto por defecto */
    width: 250px;
    height: 100%;
    background: rgba(0, 0, 0, 0.95);
    transition: left 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 28px;
    padding-left: 30px;
    z-index: 1000;
}

/* Lista del menú */
.menu-container ul {
    list-style: none;
}


.menu-container li {
    margin-top: 10px;
    margin-right: 50px;
    font-size: 19px;
    color: white;
    cursor: pointer;
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
    transition: color 0.2s;
    text-align: left;
}

/* Efecto de subrayado al pasar el cursor */
.menu-container li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 1px;
    display: block;
    background: white;
    transition: width 0.2s ease-in-out;
}

.menu-container li:hover::after {
    width: 100%;
}

/* Botón del menú hamburguesa */
.menu-btn {
    position: fixed;
    top: 38px;
    left: 20px;
    width: 30px;
    height: 24px;
    background: none;
    border: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 5px;
    z-index: 1100;
}

.menu-btn div {
    width: 24px;
    height: 1px;
    background: rgb(255, 255, 255);
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

/* Fondo oscuro y blur cuando el menú está abierto */
/* Blur correcto */
.blurred {
    filter: blur(6px);
}

/* Animación del botón hamburguesa a "X" */
.menu-open .menu-btn div:nth-child(1) {
    transform: rotate(45deg) translate(4px, 7px);
}

.menu-open .menu-btn div:nth-child(2) {
    opacity: 0;
}

.menu-open .menu-btn div:nth-child(3) {
    transform: rotate(-45deg) translate(1.4px, -4.4px);
}

/* Mostrar el menú cuando está activo */
.menu-open .menu-container {
    left: 0;
}

/* Fondo oscuro fuera del menú */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease-in-out, visibility 0.2s;
    z-index: 900;
}

/* Mostrar el overlay cuando el menú está abierto */
.menu-open .overlay {
    visibility: visible;
    opacity: 1;
}


.fade-up {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeUp 1.6s ease-out forwards;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

table {
    position: relative;
    width: 100%;
}

td a {
    text-decoration: underline;
}

table, th, td {
    border: 1px solid aliceblue;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: center;
}

nav img {
    display: flex;
    width: 70px;
    margin-right: 10px;
}

#content {
    max-width: 100%;
    margin: 0 auto;
    padding: 50px;
    color: #ffffff;
}

/* Estilos de las etiquetas y campos de entrada */
.form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

label {
    font-weight: 200;
    flex: 1;
    text-align: left;
}

/* Ajustar los campos de entrada y textarea */
input, textarea {
    width: 65%;
    padding: 8px;
    background-color: #444; /* Gris oscuro */
    color: white;
    border: 1px solid #555;
    border-radius: 5px;
}

/* Botón de envío */
.btn-submit {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #218838;
}

.markdown-body {
    position: relative;
    top: 30px;
    max-width: 80%;
    background: transparent;
    padding: 10%;
}

.markdown-body h1 { font-size: 32px !important; }
.markdown-body h2 { font-size: 28px !important; }
.markdown-body h3 { font-size: 24px !important; }
.markdown-body p  { font-size: 19px !important; }

.markdown-body th, .markdown-body td {
    padding: 8px;
    border: 1px solid #dddddd34;
    white-space: nowrap; /* Evita que el contenido se divida en varias líneas */
}

.markdown-body tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Agregar un contenedor con desplazamiento horizontal */
.table-container {
    overflow-x: auto;
    max-width: 100%;
}

.container {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 90%;
    text-align: center;
    
    /* Centrando con posición absoluta */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

